<!doctype html> <!--注意：引入thymeleaf的名称空间-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>个人注册</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pages-register.css"/>
</head>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
    function entity(username, password, email, phone) {
        this.username = username;
        this.password = password;
        this.email = email;
        this.phone = phone;
    }

    $(function () {
        $('#registerBut').on('click', function () {
                var username = $('#username').val()
                var password = $('#password').val()
                var email = $('#email').val()
                var phone = $('#phone').val()
                returnData = new entity(username, password, email, phone);
                $.ajax(
                    {
                        url: "http://localhost:18087/user",
                        type: "POST",
                        dataType: "JSON",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(returnData),
                        success: function (result) {
                            var flag=result.flag;
                          if(flag===true){
                            alert("注册成功！");}
                          else alert("用户名重复！");
                        },
                        error: function (result) {
                            console.log(result);
                            alert("访问用户注册接口失败！");
                        },
                        cache: false
                    }
                )
            }
        )
    })
</script>
<body>
<!--页面顶部-->
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">畅购商城欢迎您！</li>
                        　<span><a href="register.html" target="_blank">免费注册</a></span></li>
                    </ul>

                </div>
            </div>
        </div>

        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="青橙" href="index.html" target="_blank"></a>
                    </div>
                    <div class="yui3-u Rit searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="register py-container ">

    <!--register-->
    <div class="registerArea">
        <h3>注册新用户<span class="go">我有账号，去<a href="login.html" target="_blank">登录</a></span></h3>
        <div class="info">
            <form class="sui-form form-horizontal">
                <div class="control-group">
                    <label class="control-label">用户名：</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入你的用户名" class="input-xfat input-xlarge" id="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">手机号：</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入你的手机号" class="input-xfat input-xlarge" id="phone">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">邮箱：</label>
                    <div class="controls">
                        <input type="text" placeholder="请输入你的邮箱" class="input-xfat input-xlarge" id="email">
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputPassword" class="control-label">登录密码：</label>
                    <div class="controls">
                        <input type="password" placeholder="设置登录密码" class="input-xfat input-xlarge" id="password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input name="m1" type="checkbox" value="2" checked=""><span>同意协议并注册《畅购用户协议》</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls btn-reg">
                        <button class="sui-btn btn-block btn-xlarge btn-danger" type="button" target="_blank"
                                id="registerBut">完成注册</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--foot-->
    <div class="py-container copyright">
    </div>
</div>
</body>


</html>