<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="utf-8" />
<title>后台管理页面</title>
</head>

<!--图标样式-->
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../static/css/index.css" />

<body style="height: 100%;">

<div class="s-side" >
	<ul>
		<!--这部分是导航栏信息。-->
		<li class="s-firstItem first">
			<a href="#">
				<i class="fa fa-home"></i>
				<span>后台管理</span>
			</a>
		</li>

		<li class="first">
			<div class="d-firstNav s-firstNav clearfix">
				<i class="fa fa-bars"></i>
				<span>商家管理</span>
				<i class="fa fa-caret-right fr "></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<span list="0" onclick="tab(this)">未入驻商家列表</span>
					</div>
				</li>
				<li>
					<div class="d-secondNav s-secondNav">
						<span list="1" onclick="tab(this)">已入驻商家列表</span>
					</div>
				</li>
				<li>
					<div class="d-secondNav s-secondNav">
						<span list="2" onclick="tab(this)">查看商家列表</span>
					</div>
				</li>
			</ul>
		</li>
		<li class="first">
			<div class="d-firstNav s-firstNav">
				<i class="fa fa-bars"></i>
				<span>用户管理</span>
				<i class="fa fa-caret-right fr" ></i>
			</div>
			<ul class="d-firstDrop s-firstDrop">
				<li>
					<div class="d-secondNav s-secondNav">
						<span list="3" onclick="tab(this)">查看用户列表</span>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div class="content" style="width: 83.5%;float:right;height:100%;">
	 <div style="background-color:black;display: none;height: 100%;" onclick="cont(this)">

		 <table  align="center" border="5px" width="100%">
			 <caption style="font-size: 20px">未入驻商家列表</caption>
			 <tr>
				 <th align="center" valign="middle" height="100px">商家名称</th>
				 <th align="center" valign="middle">平台邀请码</th>
				 <th align="center" valign="middle">创建时间</th>
				 <th align="center" valign="middle">允许入驻</th>
			 </tr>
			 <tr>
				 <td align="center" valign="middle" height="75px">张三</td>
				 <td align="center" valign="middle">89</td>
				 <td align="center" valign="middle">92</td>
				 <td align="center"><button style="width: 50%;">允许入驻</button></td>
			 </tr>
		 </table>
	 </div>
	 <div style="background-color: blue;display: none;height: 100%;" onclick="cont(this)" >我是B的内容</div>
	 <div style="background-color: orange;display: none;height: 100%;" onclick="cont(this)" >我是C的内容</div>
	 <div style="background-color: green;display: none;height: 100%;"  onclick="cont(this)" >我是D的内容</div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/index.js" ></script>
<script type="text/javascript">

	     //点击菜单执行函数
	    function tab(param) {
		        var sp_an=$(param).attr('list');//获取被点击菜单的list属性值（0,1,2,3）
		        $('.content').children('div').eq(sp_an).click();//点击菜单后，对应的内容被点击，从而实现展示
		        //使用click()方法模拟点击事件，触发下面的cont函数
		      }

    //这个函数的触发是通过点击菜单的时候触发的
	    function cont(param){
		         $(param).show();//被选中的内容显示
		        $(param).siblings().hide();//没有被选中的内容隐藏
		   }

	 </script>
</body>
</html>